# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

Binaries
DerivedDataCache
Intermediate
Saved
Ressources Externes
Content.zip
RoadKill_Sandbox.zip
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ico
Content/Meshes/
Content/Textures/
Content/Particles/Particles/
Content/Particles/Materials/
Content/Particles/Meshes/
Content/Particles/Textures/
Content/Particles/VectorFields/
Content/Audio/
Content/Actors/
Content/Collections/
Content/Developers/
Content/Fonts/
Content/Localization/
Content/Maps/Overviews/
Content/Maps/Demonstrations/
Content/Maps/Shaman/
Content/Materials/Basics/
Content/Materials/CollectionParams/
Content/Materials/Foliages/
Content/Materials/Interfaces/
Content/Materials/Landscape/
Content/Materials/LandscapeLayers/
Content/Materials/MaterialFunctions/
Content/Materials/MaterialLayers/
Content/Materials/PhysicalMaterials/
Content/Materials/Sky/
Content/Materials/Surfaces/
Content/Materials/Terrain/
Content/Materials/Unknow/
Content/Materials/Urban
Content/Materials/Water
Content/ThirdPersonBP/
Content/Blueprints/Blueprint/
Content/Blueprints/BluePrints/
Content/Blueprints/CityPack/
Content/Blueprints/Experimental/
Content/Blueprints/Fish/
Content/Blueprints/Ocean/
Content/Blueprints/ShipsAndExamples/
Content/Blueprints/Sky/
Content/Blueprints/ThirdPersonBP/